* {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  /* --cosmic-starfield-gradient-colors: #471f60, #231b6e; */
  /* --cosmic-starfield-stars: 1234; */
  --cosmic-starfield-clouds: true;
  display: grid;
  place-content: center;
  color: white;
  font-size: 8vw;
  padding: 5vmin;
  margin: 0;
  background-image: paint(cosmic-starfield);
}
